Xft.antialias: true
!Xft.dpi: 80
Xft.dpi: 92
!Xft.dpi: 120
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
XTerm.vt100.utf8: true
xterm*VT100.background: black
XTerm.vt100.foreground: white
!XTerm.vt100.faceName: DejaVu Sans Book Mono
XTerm.vt100.faceName: FiraCode Nerd Font
XTerm.vt100.boldMode: true
XTerm.vt100.faceSize: 12
XTerm.vt100.internalBorder: 16
XTerm.vt100.locale: false
!XTerm.vt100.metaSendsEscape: true
xterm*VT100.translations: #override \n\
  Ctrl <Key>L: hard-reset() \n\
  Shift <KeyPress> Home: scroll-to(begin) \n\
  Shift <KeyPress> End: scroll-to(end) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>H: set-altscreen(toggle)
